<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196412753097-4rmiccua71htvr12v37a07pslv7nd74a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196412753097-4rmiccua71htvr12v37a07pslv7nd74a</string>
	<key>API_KEY</key>
	<string>AIzaSyBYud4qvWX2QH6uvGMq_Hv02DZGlNpRlUY</string>
	<key>GCM_SENDER_ID</key>
	<string>196412753097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>todo-4469a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-4469a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196412753097:ios:34d7260ec2809ea0473918</string>
</dict>
</plist>